{{> header }}
<header>
    <nav class="navigatie1">
        <ul>
            <li>
                <h1>Lufmi</h1>
            </li>
            <li>
                <img id="logo" src="css/img/logo.svg" alt="Lufmi">
            </li>
            <li>

                <form id="session" action="/topics" method="POST">
                    <label for="persoon">persoon:</label>
                    <!-- <select id="cars" name="name"> -->
             
                      <!-- <option value="<%= data[index].name%>"><%= data[index].name%></option> --> 
   
                    <!-- <option value="persoon1">Zoë</option>
                    <option value="persoon2">Joey</option> -->
                    </select>
                    <input type="submit">
                  </form>
                  
            </li>
        </ul>
    </nav>
    <nav class="navigatie2">
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li>
                    <img src="" alt=""></li>
                <li>
                    <h1>Lufmi</h1>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="topics">Topics</a>
                </li>
                <li>
                    <a href="account">Account</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    <main>
        <form id="user" method="POST" action="/topics">
            <h2>Loempia</h2>
              <div class="userimg"></div>
            <p>yoyogangster</p>
                <button type="button" class="DisLikeButton">
                    <div class="heartbrokeBtn"><img src="css/img/brokeheart.svg" alt=""></div>
                </button>
                <button type="submit" class="LikeButton" name="like" value="hallo">
                    <div class="heartBtn"><img src="css/img/heart2.svg" alt=""></div>
                </button>
        </form>
     </main>
     <script src="script/script.js"></script>
{{!-- {{> footer }} --}}